[SR08ID01TBL32%3AY]
description=3B Table2 Y
units=mm
position=43
speed=20
lo_limit=-5000
hi_limit=5000
steps_per_revol=1000
units_per_revol=-0.78125
offset=0

[SR08ID01TBL32%3AZ]
description=3B Table2 Z
units=mm
position=68
speed=0.8
lo_limit=-5071.8625
hi_limit=4928.137
steps_per_revol=1000
units_per_revol=0.03125
offset=-71.8625

[SR08ID01DST31%3AY]
description=3B Detector stage Y
units=mm
position=881.9975
speed=25
lo_limit=-3000
hi_limit=1328.03
steps_per_revol=1000
units_per_revol=2.5
offset=0
