[SR08ID01ION02%3AZ]
description=3B IC
units=mm
position=0
speed=5.5
lo_limit=-1000
hi_limit=998
offset=-88.27
steps_per_revol=1000
units_per_revol=0.5

[SR08ID01SLM03%3AZGAP]
description=Papa Bear - Z aperture
units=mm
position=15
speed=5
lo_limit=-1000
hi_limit=1148
offset=0
steps_per_revol=1000
units_per_revol=0.1
