[SR08ID01SST01%3AROTATION]
description=3B CT - Rotation
units=deg
position=-0.003
speed=10
lo_limit=-6000
hi_limit=500
offset=0
steps_per_revol=1000
units_per_revol=1

[SR08ID01SST01%3ASAMPLEY]
description=3B CT - Sample tranXbot
units=mm
position=0
speed=1
lo_limit=-20
hi_limit=20
offset=1.75
steps_per_revol=1000
units_per_revol=-0.15625

[SR08ID01SST01%3ASAMPLEX]
description=3B CT - Sample tranYtop
units=mm
position=0
speed=1
lo_limit=-20
hi_limit=20
offset=1.3
steps_per_revol=1000
units_per_revol=-0.15625

[SR08ID01SST02%3AY]
description=3B CT - Large Y
units=mm
position=274
speed=15
lo_limit=-1701.8824
hi_limit=515.9426
offset=0
steps_per_revol=1000
units_per_revol=-0.2

[SR08ID01SST02%3AZ]
description=3B CT - Large Z
units=mm
position=97
speed=10
lo_limit=5
hi_limit=505
offset=200
steps_per_revol=1000
units_per_revol=1

[SR08ID01SST01%3ATILT1]
description=3B CT - X tilt - Bottom
units=deg
position=-1.56250000022951e-05
speed=2
lo_limit=-5004.195
hi_limit=4995.805
offset=-4.195
steps_per_revol=1000
units_per_revol=0.0703125

[SR08ID01SST01%3ATILT2]
description=3B CT - Y tilt - Top
units=deg
position=-6.24999999976339e-06
speed=2
lo_limit=-30.235021875
hi_limit=29.764978125
offset=2.464978125
steps_per_revol=1000
units_per_revol=0.096875

[SR08ID01TBL31%3AY]
description=3B Table1 Y
units=mm
position=10
speed=20
lo_limit=-5000
hi_limit=5000
offset=0
steps_per_revol=1000
units_per_revol=-0.78125

[SR08ID01TBL31%3AZ]
description=3B Table1 Z
units=mm
position=10
speed=0.8
lo_limit=-2000
hi_limit=400
offset=0
steps_per_revol=1000
units_per_revol=0.03125
