[General]
version=2.0
syncdetectordir=true
dodyno=false
domulti=false
workingdir=/mnt/HamaMamaData/input/test
prerun="caput SR08ID01DETIOC08:IMAGE:EnableCallbacks 0 ; caput SR08ID01DETIOC08:STATS:EnableCallbacks 0 ; caput SR08ID01DETIOC08:ROI1:IMAGE:EnableCallbacks 0 ; caput SR08ID01DETIOC08:ROI1:STATS:EnableCallbacks 0"
description=TemplateScan\n\nDetector: HamaMama\nEnergy: don't forget\n\nPixel size: 96/100 micron \nS2D distance: 6/0.19 m\n\n
doflatfield=true
postrun="caput SR08ID01DETIOC08:IMAGE:EnableCallbacks 1 ; caput SR08ID01DETIOC08:STATS:EnableCallbacks 1 ; caput SR08ID01DETIOC08:ROI1:IMAGE:EnableCallbacks  1; caput SR08ID01DETIOC08:ROI1:STATS:EnableCallbacks 1"
useExtTrig=false
acquisitionmode=On-the-fly (software)
doserialscans=true
imageFormat=TIFF

[serial]
postscript=
scandelay=@Variant(\0\0\0\xf\0\0\0\0)
innearseries=innear\nloop\n\n[Z]
innearseries\motor=SR08ID01SST02:Y
innearseries\motorPos=274
innearseries\nofsteps=3
innearseries\step=25
innearseries\irregular=false
innearseries\positions\1\position=274
innearseries\positions\2\position=299
innearseries\positions\3\position=324
innearseries\positions\4\position=
innearseries\positions\5\position=
innearseries\positions\6\position=
innearseries\positions\size=6
time=@Variant(\0\0\0\xf\0\0\x3\xe8)
2d=false
outerseries=[Y]
outerseries\motor=SR08ID01SST02:Z
outerseries\motorPos=97
outerseries\nofsteps=7
outerseries\step=-15
outerseries\irregular=false
outerseries\positions\1\position=97
outerseries\positions\2\position=82
outerseries\positions\3\position=67
outerseries\positions\4\position=52
outerseries\positions\5\position=37
outerseries\positions\6\position=22
outerseries\positions\7\position=7
outerseries\positions\8\position=
outerseries\positions\9\position=
outerseries\positions\10\position=
outerseries\positions\11\position=
outerseries\positions\12\position=
outerseries\positions\13\position=
outerseries\positions\14\position=
outerseries\positions\size=14
prescript=
stopscript=
ongoingseries=false
ffoneachscan=true
endCondition=number of scans

[flatfield]
dfs=99
dfinterval=0
bgexposure=0
bgBefore=true
bgAfter=false
bgtravel=-20
bginterval=0
bgs=99
motor=SR08ID01SST02:Y
motorPos=274
dfBefore=true
dfAfter=false

[dyno]
motor=
motorPos=0
dyno2\speedLock=false
dyno2\speed=0
speed=0
dyno2=false
dyno2\direction=Positive
dyno2\motor=
dyno2\motorPos=0
direction=Positi&ve
dyno2\dirLock=false

[scan]
flyratio=1
postscan=
aquisitionsperprojection=1
add=true
prescan=
steptime=0.059
motor=SR08ID01SST01:ROTATION
motorPos=-0.003
steps=1850
range=185
aqspeed=1.6949
fixprs=flyRatio

[hardware]
detectorBox=HamaMama
shutterBox=beamline
shutterBox_custom=, , , , , , , 
preacquire=
postacquire=
detectorpv=SR08ID01DETIOC08
detectorexposure=0.059
detectorsavepath=e:/imbl/input/test\\

[loop]
presubscript=
loopseries=loop\n\n[L]
loopseries\motor=SR08ID01SST24:SAMPLEH1
loopseries\motorPos=-5.2005
loopseries\nofsteps=2
loopseries\step=0.2
loopseries\irregular=false
loopseries\positions\1\position=-5.2005
loopseries\positions\2\position=-5.0005
loopseries\positions\3\position=
loopseries\positions\4\position=
loopseries\positions\size=4
postsubscript=
subloopseries=sub\nloop\n\n[S]
subloopseries\motor=SR08ID01SST24:SAMPLEH2
subloopseries\motorPos=-4.8405
subloopseries\nofsteps=2
subloopseries\step=-0.1
subloopseries\irregular=false
subloopseries\positions\1\position=-4.8405
subloopseries\positions\2\position=-4.9405
subloopseries\positions\3\position=
subloopseries\positions\4\position=
subloopseries\positions\size=4
subloop=true
singlebg=true
